In [26]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [27]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
dataset = [train, test]
print('train data: ',train.shape)
print('test data: ',test.shape)

train data:  (891, 12)
test data:  (418, 11)

In [28]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
for data in dataset:
    logfare = np.log(data['Fare']+1)
    data['logfare'] = logfare
    age_mean = data['Age'].mean()
    age_std = data['Age'].std()
    nmissing_age = data['Age'].isnull().sum()
    age_random = list(map(int, np.random.normal(age_mean, age_std, nmissing_age)))
    data['Age'][data['Age'].isnull()] = age_random
    data['FamilySize'] = data['SibSp']+data['Parch']+1
    data['IsAlone'] = 0
    data.loc[data['FamilySize']==1,'IsAlone'] = 1
    data['CabinType'] = data['Cabin'].apply(lambda x: x[0] if type(x) == str else np.nan )
    data['CabinType'].fillna('No Cabin', inplace=True)
    data['Cabin'].fillna('No Cabin', inplace=True)
    data.loc[data['CabinType']=='G','CabinType'] = 'GT'
    data.loc[data['CabinType']=='T','CabinType'] = 'GT'
    data['Sex'] = data['Sex'].map({'male':1,'female':0})
    
train['Embarked'].fillna('S', inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)
test['logfare'].fillna(test['logfare'].mean(), inplace=True)

In [ ]:
X = train[['Pclass','Sex','Age','SibSp','Parch','Embarked','logfare','FamilySize','IsAlone','CabinType']]
y = train['Survived']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
X[:,0]

In [ ]:
X = pd.get_dummies(X)
X.head()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4,random_state=0)

max_depths = [9,10,11]
for max_depth in max_depths:
    clf = RandomForestClassifier(n_estimators=1000,max_depth=max_depth,random_state=0)
    clf.fit(X_train, y_train)
    yp = clf.predict(X_test)

    accuracy = accuracy_score(y_test, yp)

    print('Accuracy: ', accuracy)

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score


#clf = XGBClassifier(n_estimators=1000, learning_rate=.01)
Cs = [1,2,3,4,5,6,7,8,9,10]
for C in Cs:
    clf = SVC(gamma='auto',C=C)
    scores = cross_val_score(clf,X,y,cv=4,scoring="accuracy")

    print('Accuracy: ', scores.mean())

In [ ]:
scores.mean()